body {
	margin: 0;
	font-family: 'Roboto', sans-serif !important;
	font-style: normal;
	background-color: #eceff1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	padding: 0px;
}

body button:focus {
	outline: 0;
}

.nav_bar {
	left: 0px;
	top: 0px;
	background-color: #7e57c2;
	padding: 10px;
}

.nav_bar h2:nth-child(1) {
	margin: 0px;
	height: 30px;
	color: #ffffff;
	display: inline;
}

.user_name {
	float: right;
	cursor: pointer;
}

.user_name h2 {
	height: 30px;
}

.user_name img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: right;
	margin-left: 10px;
}

.dd_wrapper {
	width: 90px;
	border-radius: 8px;
	border: 1px solid #f3f3f3;
	padding: 8px 16px;
	background-color: #ffffff;
	/* transition: all 0.25s ease-out; */
	transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
	position: absolute;
	top: 50px;
	right: 50px;
	opacity: 0;
	visibility: hidden;
}

.show {
	opacity: 1;
	visibility: visible;
}
.dd_wrapper button {
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px;
	border: 0px;
	background: #ffffff;
	width: 90px;
	text-align: center;
	height: 36px;
	border-radius: 8px;
	cursor: pointer;
	margin: 2px 0px;
	opacity: 0;
	visibility: hidden;
}

.show button {
	opacity: 1;
	visibility: visible;
}

.dd_wrapper button:hover {
	background-color: #f3f3f3;
}

.dd_wrapper hr {
	margin: 0;
	opacity: 0;
	visibility: hidden;
}

.show hr {
	opacity: 1;
	visibility: visible;
}

.root h1,
.results_tbl h2 {
	text-align: center;
	margin: 16px 0;
}

.results_tbl table {
	margin: 16px auto;
	border-collapse: collapse;
}

.results_tbl table,
th,
tr,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	background-color: #ffffff;
}
